doctype html
html
  head

    title= title
    script(src='/jquery/jquery.js')
    script(src='/javascripts/movies.js')
    link(rel='stylesheet', href='/bootstrap/bootstrap.css')

  body
    div.jumbotron
      div.container
        h1.text-center Leffavuokraamo
    block content
